<h1>Edit Post</h1>


<%= form_for :blog, url: blog_path(@blog), method: :patch do |f| %>
    <% if @blog.errors.any? %>
        <% @blog.errors.full_messages.each do |msg| %>
            <div class = "alert alert-danger"><%= msg %></div> 
        <% end %>
    <% end %>
    
<p>
    <%= f.label :title %> <br>
    <%= f.text_field(:title, {:class => 'form_control'}) %>
</p>

<p>
    <%= f.label :text %> <br>
    <%= f.text_area(:text, {:class => 'form_control'}) %>
</p>

<p>
    <%= f.submit({:class => 'btn btn-primary'}) %>
</p>

<% end %>